Lambda School Data Science

*Unit 2, Sprint 3, Module 1*

---


# Wrangle ML datasets

- [ ] Continue to clean and explore your data. 
- [ ] For the evaluation metric you chose, what score would you get just by guessing?
- [ ] Can you make a fast, first model that beats guessing?

**We recommend that you use your portfolio project dataset for all assignments this sprint.**

**But if you aren't ready yet, or you want more practice, then use the New York City property sales dataset for today's assignment.** Follow the instructions below, to just keep a subset for the Tribeca neighborhood, and remove outliers or dirty data. [Here's a video walkthrough](https://youtu.be/pPWFw8UtBVg?t=584) you can refer to if you get stuck or want hints!

- Data Source: [NYC OpenData: NYC Citywide Rolling Calendar Sales](https://data.cityofnewyork.us/dataset/NYC-Citywide-Rolling-Calendar-Sales/usep-8jbt)
- Glossary: [NYC Department of Finance: Rolling Sales Data](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page)

In [1]:
import pandas as pd
df = pd.read_csv('../../../Code_Here/120-years-of-olympic-history-athletes-and-results/athlete_events.csv')

In [2]:
print(df.shape)
df.head()

(271116, 15)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [3]:
df = df.dropna()

In [4]:
df.isnull().sum()

ID        0
Name      0
Sex       0
Age       0
Height    0
Weight    0
Team      0
NOC       0
Games     0
Year      0
Season    0
City      0
Sport     0
Event     0
Medal     0
dtype: int64

In [5]:
df = df[['Sex', 'Age', 'Height', 'Weight', 'Year','Sport','Games', 'Season','Event', 'Medal']]
print(df.shape)
df.head()

(30181, 10)

,Sex,Age,Height,Weight,Year,Sport,Games,Season,Event,Medal
40,M,28.0,184.0,85.0,2014,Ice Hockey,2014 Winter,Winter,Ice Hockey Men's Ice Hockey,Bronze
41,M,28.0,175.0,64.0,1948,Gymnastics,1948 Summer,Summer,Gymnastics Men's Individual All-Around,Bronze
42,M,28.0,175.0,64.0,1948,Gymnastics,1948 Summer,Summer,Gymnastics Men's Team All-Around,Gold
44,M,28.0,175.0,64.0,1948,Gymnastics,1948 Summer,Summer,Gymnastics Men's Horse Vault,Gold
48,M,28.0,175.0,64.0,1948,Gymnastics,1948 Summer,Summer,Gymnastics Men's Pommelled Horse,Gold

In [6]:
df['Sport'].value_counts()

Athletics                    3648
Swimming                     2486
Rowing                       2104
Ice Hockey                   1301
Hockey                       1168
Gymnastics                   1161
Fencing                      1109
Football                     1084
Canoeing                     1041
Basketball                   1000
Wrestling                     967
Volleyball                    958
Handball                      937
Cycling                       845
Water Polo                    764
Boxing                        708
Cross Country Skiing          687
Sailing                       677
Equestrianism                 663
Shooting                      542
Weightlifting                 532
Judo                          526
Speed Skating                 488
Biathlon                      388
Alpine Skiing                 354
Baseball                      333
Diving                        318
Bobsleigh                     283
Short Track Speed Skating     274
Figure Skating                249
Synchronized Swimming         214
Archery                       206
Luge                          178
Ski Jumping                   175
Tennis                        173
Softball                      172
Table Tennis                  163
Badminton                     154
Modern Pentathlon             153
Taekwondo                     144
Nordic Combined               137
Curling                       131
Rhythmic Gymnastics           124
Freestyle Skiing              102
Snowboarding                   89
Rugby Sevens                   74
Beach Volleyball               68
Triathlon                      30
Rugby                          30
Trampolining                   29
Skeleton                       24
Tug-Of-War                      8
Golf                            4
Lacrosse                        2
Art Competitions                2
Name: Sport, dtype: int64

In [7]:
# Get names of indexes for which column Sport has less than 140
#feature engineering
df = df[~df['Sport'].isin(["Nordic Combined","Rhythmic Gymnastics", 
                           "Freestyle Skiing", "Snowboarding","Rugby Sevens",
                           "Beach Volleyball","Rugby","Triathlon",
                           "Trampolining","Skeleton","Tug-Of-War" ,"Golf",
                           "Art Competitions", "Lacrosse"])]

In [8]:
df['Sport'].nunique()

41

In [9]:
df

,Sex,Age,Height,Weight,Year,Sport,Games,Season,Event,Medal
40,M,28.0,184.0,85.0,2014,Ice Hockey,2014 Winter,Winter,Ice Hockey Men's Ice Hockey,Bronze
41,M,28.0,175.0,64.0,1948,Gymnastics,1948 Summer,Summer,Gymnastics Men's Individual All-Around,Bronze
42,M,28.0,175.0,64.0,1948,Gymnastics,1948 Summer,Summer,Gymnastics Men's Team All-Around,Gold
44,M,28.0,175.0,64.0,1948,Gymnastics,1948 Summer,Summer,Gymnastics Men's Horse Vault,Gold
48,M,28.0,175.0,64.0,1948,Gymnastics,1948 Summer,Summer,Gymnastics Men's Pommelled Horse,Gold
...,...,...,...,...,...,...,...,...,...,...
271078,F,25.0,168.0,80.0,1956,Athletics,1956 Summer,Summer,Athletics Women's Shot Put,Silver
271080,F,33.0,168.0,80.0,1964,Athletics,1964 Summer,Summer,Athletics Women's Shot Put,Bronze
271082,M,28.0,182.0,82.0,1980,Fencing,1980 Summer,Summer,"Fencing Men's Foil, Team",Bronze
271102,F,19.0,171.0,64.0,2000,Athletics,2000 Summer,Summer,Athletics Women's 4 x 400 metres Relay,Bronze
271103,F,23.0,171.0,64.0,2004,Athletics,2004 Summer,Summer,Athletics Women's 4 x 400 metres Relay,Silver

In [10]:
df["Sport"].value_counts()

Athletics                    3648
Swimming                     2486
Rowing                       2104
Ice Hockey                   1301
Hockey                       1168
Gymnastics                   1161
Fencing                      1109
Football                     1084
Canoeing                     1041
Basketball                   1000
Wrestling                     967
Volleyball                    958
Handball                      937
Cycling                       845
Water Polo                    764
Boxing                        708
Cross Country Skiing          687
Sailing                       677
Equestrianism                 663
Shooting                      542
Weightlifting                 532
Judo                          526
Speed Skating                 488
Biathlon                      388
Alpine Skiing                 354
Baseball                      333
Diving                        318
Bobsleigh                     283
Short Track Speed Skating     274
Figure Skating                249
Synchronized Swimming         214
Archery                       206
Luge                          178
Ski Jumping                   175
Tennis                        173
Softball                      172
Table Tennis                  163
Badminton                     154
Modern Pentathlon             153
Taekwondo                     144
Curling                       131
Name: Sport, dtype: int64

In [11]:
df.head()

,Sex,Age,Height,Weight,Year,Sport,Games,Season,Event,Medal
40,M,28.0,184.0,85.0,2014,Ice Hockey,2014 Winter,Winter,Ice Hockey Men's Ice Hockey,Bronze
41,M,28.0,175.0,64.0,1948,Gymnastics,1948 Summer,Summer,Gymnastics Men's Individual All-Around,Bronze
42,M,28.0,175.0,64.0,1948,Gymnastics,1948 Summer,Summer,Gymnastics Men's Team All-Around,Gold
44,M,28.0,175.0,64.0,1948,Gymnastics,1948 Summer,Summer,Gymnastics Men's Horse Vault,Gold
48,M,28.0,175.0,64.0,1948,Gymnastics,1948 Summer,Summer,Gymnastics Men's Pommelled Horse,Gold

In [37]:
import matplotlib.pyplot as plt
!pip install jupyterlab==1.2 "ipywidgets>=7.5"

Collecting jupyterlab==1.2
  Downloading https://files.pythonhosted.org/packages/2b/64/af7f2dc98ce000cace7b6440cd951b9e1a748973d049bfc73eea4247dfc1/jupyterlab-1.2.0-py2.py3-none-any.whl (6.4MB)
     |████████████████████████████████| 6.4MB 2.7MB/s eta 0:00:01
Requirement already satisfied: ipywidgets>=7.5 in /Users/amybeisel/opt/anaconda3/envs/Amys_special/lib/python3.7/site-packages (7.5.1)
Requirement already satisfied: notebook>=4.3.1 in /Users/amybeisel/opt/anaconda3/envs/Amys_special/lib/python3.7/site-packages (from jupyterlab==1.2) (6.0.2)
Requirement already satisfied: tornado!=6.0.0,!=6.0.1,!=6.0.2 in /Users/amybeisel/opt/anaconda3/envs/Amys_special/lib/python3.7/site-packages (from jupyterlab==1.2) (6.0.3)
Requirement already satisfied: jinja2>=2.10 in /Users/amybeisel/opt/anaconda3/envs/Amys_special/lib/python3.7/site-packages (from jupyterlab==1.2) (2.10.3)
Requirement already satisfied: jupyterlab-server~=1.0.0 in /Users/amybeisel/opt/anaconda3/envs/Amys_special/lib/python3.7/site-packages (from jupyterlab==1.2) (1.0.6)
Requirement already satisfied: ipykernel>=4.5.1 in /Users/amybeisel/opt/anaconda3/envs/Amys_special/lib/python3.7/site-packages (from ipywidgets>=7.5) (5.1.3)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /Users/amybeisel/opt/anaconda3/envs/Amys_special/lib/python3.7/site-packages (from ipywidgets>=7.5) (3.5.1)
Requirement already satisfied: ipython>=4.0.0; python_version >= "3.3" in /Users/amybeisel/opt/anaconda3/envs/Amys_special/lib/python3.7/site-packages (from ipywidgets>=7.5) (7.11.1)
Requirement already satisfied: traitlets>=4.3.1 in /Users/amybeisel/opt/anaconda3/envs/Amys_special/lib/python3.7/site-packages (from ipywidgets>=7.5) (4.3.3)
Requirement already satisfied: nbformat>=4.2.0 in /Users/amybeisel/opt/anaconda3/envs/Amys_special/lib/python3.7/site-packages (from ipywidgets>=7.5) (4.4.0)
Requirement already satisfied: jupyter-client>=5.3.4 in /Users/amybeisel/opt/anaconda3/envs/Amys_special/lib/python3.7/site-packages (from notebook>=4.3.1->jupyterlab==1.2) (5.3.4)
Requirement already satisfied: nbconvert in /Users/amybeisel/opt/anaconda3/envs/Amys_special/lib/python3.7/site-packages (from notebook>=4.3.1->jupyterlab==1.2) (5.6.1)
Requirement already satisfied: Send2Trash in /Users/amybeisel/opt/anaconda3/envs/Amys_special/lib/python3.7/site-packages (from notebook>=4.3.1->jupyterlab==1.2) (1.5.0)
Requirement already satisfied: terminado>=0.8.1 in /Users/amybeisel/opt/anaconda3/envs/Amys_special/lib/python3.7/site-packages (from notebook>=4.3.1->jupyterlab==1.2) (0.8.3)
Requirement already satisfied: jupyter-core>=4.6.0 in /Users/amybeisel/opt/anaconda3/envs/Amys_special/lib/python3.7/site-packages (from notebook>=4.3.1->jupyterlab==1.2) (4.6.1)
Requirement already satisfied: ipython-genutils in /Users/amybeisel/opt/anaconda3/envs/Amys_special/lib/python3.7/site-packages (from notebook>=4.3.1->jupyterlab==1.2) (0.2.0)
Requirement already satisfied: pyzmq>=17 in /Users/amybeisel/opt/anaconda3/envs/Amys_special/lib/python3.7/site-packages (from notebook>=4.3.1->jupyterlab==1.2) (18.1.0)
Requirement already satisfied: prometheus-client in /Users/amybeisel/opt/anaconda3/envs/Amys_special/lib/python3.7/site-packages (from notebook>=4.3.1->jupyterlab==1.2) (0.7.1)
Requirement already satisfied: MarkupSafe>=0.23 in /Users/amybeisel/opt/anaconda3/envs/Amys_special/lib/python3.7/site-packages (from jinja2>=2.10->jupyterlab==1.2) (1.1.1)
Requirement already satisfied: json5 in /Users/amybeisel/opt/anaconda3/envs/Amys_special/lib/python3.7/site-packages (from jupyterlab-server~=1.0.0->jupyterlab==1.2) (0.8.5)
Requirement already satisfied: jsonschema>=3.0.1 in /Users/amybeisel/opt/anaconda3/envs/Amys_special/lib/python3.7/site-packages (from jupyterlab-server~=1.0.0->jupyterlab==1.2) (3.2.0)
Requirement already satisfied: appnope; platform_system == "Darwin" in /Users/amybeisel/opt/anaconda3/envs/Amys_special/lib/python3.7/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.5) (0.1.0)
Requirement already satisfied: decorator in /Users/amybeisel/opt/anaconda3/envs/Amys_special/lib/python3.7/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5) (4.4.1)
Requirement already satisfied: jedi>=0.10 in /Users/amybeisel/opt/anaconda3/envs/Amys_special/lib/python3.7/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5) (0.15.2)
Requirement already satisfied: pexpect; sys_platform != "win32" in /Users/amybeisel/opt/anaconda3/envs/Amys_special/lib/python3.7/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5) (4.7.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/amybeisel/opt/anaconda3/envs/Amys_special/lib/python3.7/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5) (2.0.9)
Requirement already satisfied: backcall in /Users/amybeisel/opt/anaconda3/envs/Amys_special/lib/python3.7/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5) (0.1.0)
Requirement already satisfied: pickleshare in /Users/amybeisel/opt/anaconda3/envs/Amys_special/lib/python3.7/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5) (0.7.5)
Requirement already satisfied: pygments in /Users/amybeisel/opt/anaconda3/envs/Amys_special/lib/python3.7/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5) (2.5.2)
Requirement already satisfied: setuptools>=18.5 in /Users/amybeisel/opt/anaconda3/envs/Amys_special/lib/python3.7/site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5) (44.0.0.post20200106)
Requirement already satisfied: six in /Users/amybeisel/opt/anaconda3/envs/Amys_special/lib/python3.7/site-packages (from traitlets>=4.3.1->ipywidgets>=7.5) (1.13.0)
Requirement already satisfied: python-dateutil>=2.1 in /Users/amybeisel/opt/anaconda3/envs/Amys_special/lib/python3.7/site-packages (from jupyter-client>=5.3.4->notebook>=4.3.1->jupyterlab==1.2) (2.8.1)
Requirement already satisfied: pandocfilters>=1.4.1 in /Users/amybeisel/opt/anaconda3/envs/Amys_special/lib/python3.7/site-packages (from nbconvert->notebook>=4.3.1->jupyterlab==1.2) (1.4.2)
Requirement already satisfied: entrypoints>=0.2.2 in /Users/amybeisel/opt/anaconda3/envs/Amys_special/lib/python3.7/site-packages (from nbconvert->notebook>=4.3.1->jupyterlab==1.2) (0.3)
Requirement already satisfied: bleach in /Users/amybeisel/opt/anaconda3/envs/Amys_special/lib/python3.7/site-packages (from nbconvert->notebook>=4.3.1->jupyterlab==1.2) (3.1.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /Users/amybeisel/opt/anaconda3/envs/Amys_special/lib/python3.7/site-packages (from nbconvert->notebook>=4.3.1->jupyterlab==1.2) (0.8.4)
Requirement already satisfied: defusedxml in /Users/amybeisel/opt/anaconda3/envs/Amys_special/lib/python3.7/site-packages (from nbconvert->notebook>=4.3.1->jupyterlab==1.2) (0.6.0)
Requirement already satisfied: testpath in /Users/amybeisel/opt/anaconda3/envs/Amys_special/lib/python3.7/site-packages (from nbconvert->notebook>=4.3.1->jupyterlab==1.2) (0.4.4)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /Users/amybeisel/opt/anaconda3/envs/Amys_special/lib/python3.7/site-packages (from jsonschema>=3.0.1->jupyterlab-server~=1.0.0->jupyterlab==1.2) (1.3.0)
Requirement already satisfied: pyrsistent>=0.14.0 in /Users/amybeisel/opt/anaconda3/envs/Amys_special/lib/python3.7/site-packages (from jsonschema>=3.0.1->jupyterlab-server~=1.0.0->jupyterlab==1.2) (0.15.6)
Requirement already satisfied: attrs>=17.4.0 in /Users/amybeisel/opt/anaconda3/envs/Amys_special/lib/python3.7/site-packages (from jsonschema>=3.0.1->jupyterlab-server~=1.0.0->jupyterlab==1.2) (19.3.0)
Requirement already satisfied: parso>=0.5.2 in /Users/amybeisel/opt/anaconda3/envs/Amys_special/lib/python3.7/site-packages (from jedi>=0.10->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5) (0.5.2)
Requirement already satisfied: ptyprocess>=0.5 in /Users/amybeisel/opt/anaconda3/envs/Amys_special/lib/python3.7/site-packages (from pexpect; sys_platform != "win32"->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5) (0.6.0)
Requirement already satisfied: wcwidth in /Users/amybeisel/opt/anaconda3/envs/Amys_special/lib/python3.7/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5) (0.1.7)
Requirement already satisfied: webencodings in /Users/amybeisel/opt/anaconda3/envs/Amys_special/lib/python3.7/site-packages (from bleach->nbconvert->notebook>=4.3.1->jupyterlab==1.2) (0.5.1)
Requirement already satisfied: zipp>=0.5 in /Users/amybeisel/opt/anaconda3/envs/Amys_special/lib/python3.7/site-packages (from importlib-metadata; python_version < "3.8"->jsonschema>=3.0.1->jupyterlab-server~=1.0.0->jupyterlab==1.2) (0.6.0)
Requirement already satisfied: more-itertools in /Users/amybeisel/opt/anaconda3/envs/Amys_special/lib/python3.7/site-packages (from zipp>=0.5->importlib-metadata; python_version < "3.8"->jsonschema>=3.0.1->jupyterlab-server~=1.0.0->jupyterlab==1.2) (8.0.2)
Installing collected packages: jupyterlab
  Found existing installation: jupyterlab 1.2.4
    Uninstalling jupyterlab-1.2.4:
      Successfully uninstalled jupyterlab-1.2.4
Successfully installed jupyterlab-1.2.0

In [ ]:
import plotly.graph_objects as go

In [12]:
%%capture
# import sys

# # If you're on Colab:
# if 'google.colab' in sys.modules:
#     DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
#     !pip install category_encoders==2.*
#     !pip install pandas-profiling==2.*

# # If you're working locally:
# else:
#     DATA_PATH = '../data/'

In [13]:
# Read New York City property sales data
# import pandas as pd
# df = pd.read_csv(DATA_PATH+'condos/NYC_Citywide_Rolling_Calendar_Sales.csv')

Your code starts here:

In [14]:
# Change column names: replace spaces with underscores

In [15]:
# Get Pandas Profiling Report

In [16]:
# Keep just the subset of data for the Tribeca neighborhood
# Check how many rows you have now. (Should go down from > 20k rows to 146)

In [17]:
# Q. What's the date range of these property sales in Tribeca?

In [18]:
# The Pandas Profiling Report showed that SALE_PRICE was read as strings
# Convert it to integers

In [19]:
# Q. What is the maximum SALE_PRICE in this dataset?

In [20]:
# Look at the row with the max SALE_PRICE

In [21]:
# Get value counts of TOTAL_UNITS
# Q. How many property sales were for multiple units?

In [22]:
# Keep only the single units

In [23]:
# Q. Now what is the max sales price? How many square feet does it have?

In [24]:
# Q. How often did $0 sales occur in this subset of the data?

# There's a glossary here: 
# https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page

# It says:
# A $0 sale indicates that there was a transfer of ownership without a 
# cash consideration. There can be a number of reasons for a $0 sale including 
# transfers of ownership from parents to children.

In [25]:
# Look at property sales for > 5,000 square feet
# Q. What is the highest square footage you see?

In [26]:
# What are the building class categories?
# How frequently does each occur?

In [27]:
# Keep subset of rows:
# Sale price more than $0, 
# Building class category = Condos - Elevator Apartments

# Check how many rows you have now. (Should be 106 rows.)

In [28]:
# Make a Plotly Express scatter plot of GROSS_SQUARE_FEET vs SALE_PRICE

In [29]:
# Add an OLS (Ordinary Least Squares) trendline,
# to see how the outliers influence the "line of best fit"

In [30]:
# Look at sales for more than $35 million

# All are at 70 Vestry Street
# All but one have the same SALE_PRICE & SALE_DATE
# Was the SALE_PRICE for each? Or in total?
# Is this dirty data?

In [31]:
# Make a judgment call:
# Keep rows where sale price was < $35 million

# Check how many rows you have now. (Should be down to 90 rows.)

In [32]:
# Now that you've removed outliers,
# Look again at a scatter plot with OLS (Ordinary Least Squares) trendline

In [33]:
# Select these columns, then write to a csv file named tribeca.csv. Don't include the index.